In [1]:
import pandas as pd

train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")

In [2]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [14]:
train["text"]

0       Our Deeds are the Reason of this #earthquake M...
1                  Forest fire near La Ronge Sask. Canada
2       All residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       Just got sent this photo from Ruby #Alaska as ...
5       #RockyFire Update => California Hwy. 20 closed...
6       #flood #disaster Heavy rain causes flash flood...
7       I'm on top of the hill and I can see a fire in...
8       There's an emergency evacuation happening now ...
9       I'm afraid that the tornado is coming to our a...
10            Three people died from the heat wave so far
11      Haha South Tampa is getting flooded hah- WAIT ...
12      #raining #flooding #Florida #TampaBay #Tampa 1...
13                #Flood in Bago Myanmar #We arrived Bago
14      Damage to school bus on 80 in multi car crash ...
15                                         What's up man?
16                                          I love fruits
17                                       Summer is lovely
18                                      My car is so fast
19                           What a goooooooaaaaaal!!!!!!
20                                 this is ridiculous....
21                                      London is cool ;)
22                                            Love skiing
23                                  What a wonderful day!
24                                               LOOOOOOL
25                         No way...I can't eat that shit
26                                  Was in NYC last week!
27                                     Love my girlfriend
28                                              Cooool :)
29                                     Do you like pasta?
                              ...
7583    Pic of 16yr old PKK suicide bomber who detonat...
7584    These boxes are ready to explode! Exploding Ki...
7585    Calgary Police Flood Road Closures in Calgary....
7586    #Sismo DETECTADO #JapÌ_n 15:41:07 Seismic inte...
7587                                   Sirens everywhere!
7588    BREAKING: #ISIS claims responsibility for mosq...
7589                                       Omg earthquake
7590    SEVERE WEATHER BULLETIN No. 5 FOR: TYPHOON ÛÏ...
7591    Heat wave warning aa? Ayyo dei. Just when I pl...
7592    An IS group suicide bomber detonated an explos...
7593    I just heard a really loud bang and everyone i...
7594    A gas thing just exploded and I heard screams ...
7595    NWS: Flash Flood Warning Continued for Shelby ...
7596    RT @LivingSafely: #NWS issues Severe #Thunders...
7597    #??? #?? #??? #??? MH370: Aircraft debris foun...
7598    Father-of-three Lost Control of Car After Over...
7599    1.3 #Earthquake in 9Km Ssw Of Anza California ...
7600    Evacuation order lifted for town of Roosevelt:...
7601    #breaking #LA Refugio oil spill may have been ...
7602    a siren just went off and it wasn't the Forney...
7603    Officials say a quarantine is in place at an A...
7604    #WorldNews Fallen powerlines on G:link tram: U...
7605    on the flip side I'm at Walmart and there is a...
7606    Suicide bomber kills 15 in Saudi security site...
7607    #stormchase Violent Record Breaking EF-5 El Re...
7608    Two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @TheTawniest The out of control w...
7610    M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611    Police investigating after an e-bike collided ...
7612    The Latest: More Homes Razed by Northern Calif...
Name: text, Length: 7613, dtype: object

In [15]:
train["text"][7584]

'These boxes are ready to explode! Exploding Kittens finally arrived! gameofkittens #explodingkittens\x89Û_ https://t.co/TFGrAyuDC5'

In [3]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [4]:
len(train.loc[ train["target"]== 1, :])

3271

In [5]:
len(train.loc[ train["target"]== 0, :])

4342

In [6]:
train.target.value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [7]:
type(train)

pandas.core.frame.DataFrame

In [8]:
type(train["target"].value_counts())

pandas.core.series.Series

In [9]:
import seaborn as sns

train["target"].value_counts().plot(kind="bar", rot=0)

In [10]:
def cleanData(file_path):
    # code here
    
    # want to get to point that we have a python. get this done for next week. 
    
    # return clean data

# from cleanData import cleanData -- from module import file. 
# then: cleanData.function()

SyntaxError: unexpected EOF while parsing (<ipython-input-10-56faea4d55db>, line 9)

In [13]:
from spellchecker import SpellChecker

spell = SpellChecker()
def correct_spellings(text):
    corrected_text = []
    misspelled_words = spell.unknown(text.split())
    for word in text.split():
        if word in misspelled_words:
            corrected_text.append(spell.correction(word))
        else:
            corrected_text.append(word)
    return " ".join(corrected_text)
        
text = "corect me plese"
correct_spellings(text)

['correct', 'me', 'please']

In [12]:
from spellchecker import SpellChecker

spell = SpellChecker()

# find those words that may be misspelled
misspelled = spell.unknown(['something', 'is', 'hapenning', 'here'])

for word in misspelled:
    # Get the one `most likely` answer
    print(spell.correction(word))

    # Get a list of `likely` options
    print(spell.candidates(word))

happening
{'henning', 'penning', 'happening'}

In [38]:
import re
from spellchecker import SpellChecker

# https://stackoverflow.com/questions/11331982/how-to-remove-any-url-within-a-string-in-python
def remove_urls (vTEXT):
    """Docstring"""
    vTEXT = re.sub(r'(https|http)?:\/\/(\w|\.|\/|\?|\=|\&|\%)*\b', '', vTEXT, flags=re.MULTILINE)
    return(vTEXT)

def getHashtagWords(df,text):
    """Docstring: Helper function to return all words found next to a hashtag symbol in a
    seperate column of df. """
    
    # might want to update text - perhaps this is a column name?
    
    # define pattern
    pattern = r"\B(\#[a-zA-Z]+\b)(?!;)" 
    hashtags = re.findall(pattern, text)
    
    # store all words with a hashtag seperately
    if len(hashtag_text) > 0:
        # save as an extra column
        df["Hashtag_Text"] = " ".join(hashtags)
    else:
        df["Hashtag_Text"] = "No hashtags used"
    return " ".join(hashtags)


def correct_spellings(text):
    """Docstring"""
    corrected_text = []
    misspelled_words = spell.unknown(text.split())
    for word in text.split():
        if word in misspelled_words:
            corrected_text.append(spell.correction(word))
        else:
            corrected_text.append(word)
    return " ".join(corrected_text)

def remove_punct(text):
    """Docstring"""
    # strip all punctuation
    s = re.sub(r'[^\w\s]','',text)

    return s

getHashtagWords(train["text"][7584])

'#explodingkittens'

In [ ]:
# remove hashtags to clean up signal
def removeHashtags(text):
    
    return

In [53]:
def remove_punct(text):
    """Docstring: """
    # strip all punctuation
    s = re.sub(r'[^\w\s]','',text)

    return s

remove_punct("Hello! #World @matt")

'Hello World mattn'